<mat-grid-list cols="4" rowHeight="50px">
    <mat-grid-tile [colspan]="3" [rowspan]="1" [style.background]="lightblue">
        <p [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="home" [routerLink]='["/fetch-data"]' (click)='collapse()'>
                <span><i class="fab fa-chrome"></i></span> Web Monitoring
            </a>
        </p>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="lightblue">
        <div *ngIf="isUserLoggedIn">
                <p (click)="logout()">
                    <a class="logout" [routerLink]="['/login']">
                        <span><i class="fas fa-sign-out-alt"></i></span> Log Out
                    </a>
                </p>
        </div>
    </mat-grid-tile>
</mat-grid-list>


